.dark .information-section{
    background-color: var(--black-light-color);
    transition: 0.3s ease;
}
.dark .darken{
    color: var(--toggle-color);
}
.dark .menu-icon_icc{
    transition: all 0.5s ease;
    color: var(--text-color);
}
.dark .menu-icon_icc:hover{
    transition: all 0.5s ease;
    color: rgb(255, 0, 0);
}
.dark td{
    color: var(--text-color);
}
.dark tr:hover{
    color: var(--text-color);
}