.information-section {
  padding-top: 20px;
  padding: 20px;
  flex-grow: 2;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 10px;
}
aside {
  display: flex;
  align-items: center;
}

.menu-icon_icc {
  cursor: pointer;
  font-size: 35px;
  top: 12px;
  gap: 0px;
  color: var(--black-light-color);
}

.user-info {
  display: flex;
  align-items: center;
}

.user-info span {
  margin-right: 10px;
  color: rgb(46, 33, 33);
}

.people_ss {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.triple-dot-bg {
  display: flex;
  justify-content: space-between;
  /* padding-top: 50px; */
}

.triple-dot-bg h2 {
  padding: 10px;
}
tr:hover {
  background-color: rgb(231, 0, 0);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #d50000;
}
.td_tds {
  display: flex;
  align-items: center;
}
.ovr_btn_one {
  width: 71.09px;
  height: 35.5px;
  border-radius: 5px;
  background: #5078b4;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}
.ovr_btn_one p {
  text-align: center;
  color: rgba(255, 255, 255, 1);
}
.ovr_btn_one p :hover {
  color: var(--black-light-color);
}
.ovr_btn_one:hover {
  background-color: var(--primary-color);
  border-bottom: 1px 1px 10px 5px;
  color: red;
}
.ovr_btn_two {
  background-color: rgba(178, 178, 178, 0.47);
  width: 71.09px;
  height: 35.5px;
  border-radius: 5px;
  text-align: center;
  margin: 0 auto;
  border: none;
  cursor: pointer;
}
@media (max-width: 768px) {
  header {
    display: flex;
    /* flex-direction: column; */
    /* text-align: center; */
  }

  .user-info {
    flex-direction: column;
    align-items: center;
  }

  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  thead tr {
    display: none;
  }

  td {
    position: relative;
    padding-left: 50%;
    text-align: right;
    border: none;
    border-bottom: 1px solid #ddd;
  }

  td:before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 10px;
    font-weight: bold;
    text-align: left;
  }
}
/* next page start */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}
th,
td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
th {
  background-color: #b4c4b0;
}
tr:hover {
  background-color: #ffe100;
  transition: 1s;
  cursor: pointer;
}
.people_ppp {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.profits {
  color: rgb(160, 169, 42);
}
.losses {
  color: red;
}
@media (max-width: 768px) {
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }
  thead tr {
    display: none;
  }
  tr {
    margin-bottom: 10px;
    border: 1px solid #ddd;
  }
  td {
    padding: 10px;
    text-align: right;
    position: relative;
  }
  td::before {
    content: attr(data-label);
    position: absolute;
    left: 10px;
    text-align: left;
    font-weight: bold;
  }
}

/* style.css */
.sidebar {
  transition: transform 0.3s ease;
}

.sidebar.hidden {
  transform: translateX(-100%);
}
.information-section {
  transition: margin-left 0.3s ease;
}
.sidebar.hidden + .information-section {
  margin-left: -250px;
}
/* Media query for smaller screens */
@media (max-width: 917px) {
  .sidebar {
    transform: translateY(0); /* Reset any translateY applied */
  }

  .sidebar.hidden {
    transform: translateY(-100%); /* Slide the sidebar upwards when hidden */
  }

  .information-section {
    transition: margin-top 0.3s ease;
    margin-left: 0; /* No margin on smaller screens */
  }

  .sidebar.hidden + .information-section {
    margin-top: -250px;
    margin-left: 0; /* Ensure no margin when sidebar is hidden */
  }
}
@media (max-width: 768px) {
  .sidebar {
    transform: translateY(0); /* Reset any translateY applied */
  }

  .sidebar.hidden {
    transform: translateY(-100%); /* Slide the sidebar upwards when hidden */
  }

  .information-section {
    transition: margin-top 0.3s ease;
    margin-left: 0; /* No margin on smaller screens */
  }

  .sidebar.hidden + .information-section {
    margin-top: -180px;
    margin-left: 0; /* Ensure no margin when sidebar is hidden */
  }
}

@media (max-width: 418px) {
  .sidebar {
    transform: translateY(0); /* Reset any translateY applied */
  }

  .sidebar.hidden {
    transform: translateY(-100%); /* Slide the sidebar upwards when hidden */
  }

  .information-section {
    transition: margin-top 0.3s ease;
    margin-left: 0; /* No margin on smaller screens */
  }

  .sidebar.hidden + .information-section {
    margin-top: -400px;
    margin-left: 0; /* Ensure no margin when sidebar is hidden */
  }
}
